.info-container {
  background-color: whitesmoke;
  border: 3px solid #061826;
  border-radius: 8px;
  padding: 20px;
}

.current-ads {
  background-color: whitesmoke;
  border: 3px solid #061826;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  margin-top: 2%;
  width: 75%;
}

.ping-notifications {
  background-color: whitesmoke;
  border: 3px solid #061826;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  margin-top: 2%;
  width: 75%;
}