* {
    box-sizing: border-box;
}

.ads-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 40px;
    border: 3px solid green;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 20px;
}

.ad-image {
    width: 250px;
    height: 250px;
    border: 3px solid black;
}

.instrument-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instrument-about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black;
    margin-left: 20px;
    font-size: 30px;
}

.seller-details {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 20px;
    margin-left: 20px;
    font-size: 30px;
}