* {
    box-sizing: border-box;
}

.about-container, .about-label, .about-info {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #061826;
    text-align: center;
}

.about-label {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 4px 4px 4px #aaa;
}

.about-info {
    display: block;
    text-align: center;
    border-bottom: 3px solid #061826;
    border-width: 80%;
    font-size: 28px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px;
}

.about-steps {
    display: block;
    text-align: left;
    font-size: 24px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.about-container {
    padding: 40px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid #061826;
    border-radius: 8px;
}

.sellers-container, .buyers-container, .upcoming-container {
    margin-bottom: 60px;
}