* {
    box-sizing: border-box;
}

.mainSection {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.page-container {
    background-size: 100%;
    background-size: cover;
    width: 100%; 
    height: 100%; 
    /* position: fixed;  */
    left: 0px; 
    top: 0px; 
    z-index: -1;
    background-image: url("../../images/pyramids.jpg");
}