* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: center;
    width: 75%;
    margin-top: 40px;
}

.navbar-item {
    display: flex;
    padding: 20px;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.logo, .logo-text-top {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.logo-text-bottom {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    border: 3px solid black;
    border-radius: 8px;
    padding: 20px;
}

.search {
    margin-top: 50px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 8px;
}