* {
    box-sizing: border-box;
}

.nav {
    border-bottom: 3px solid #061826;
    text-align: right;
    height: 90px;
    line-height: 90px;
    background-color: whitesmoke;
}

.menu {
    margin: 0 60px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #061826;
    margin: 0 30px;
    line-height: 70px;
    font-size: 22px;
    font-weight: 700;
}

.menu a:hover {
    text-shadow: 4px 4px 4px #aaa;
    font-weight: 900px;
}

.logo-container, .logo-text-top a {
    display: flex;
    float: left;
    font-size: 36px;
    margin-left: 20px;
    font-weight: 800;
    text-shadow: 4px 4px 4px #aaa;
    color: #061826;
    text-decoration: none;
}

.logout {
    color: white;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
}

.hamburger {
    margin: 0 40px 0 0;
    font-size: 36px;
    line-height: 90px;
    display: none;
    width: 40px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 850px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #061826;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        position: sticky;
    }
}
