* {
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    margin-top: 850px;
    margin-bottom: 50px;
    font-size: 20px;
}

.footer-text {
    font-size: 30px;
    font-weight: 700;
}