* {
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
}

.footer-text {
    font-size: 30px;
    font-weight: 700;
}

.separator {
    border-top: 2px solid whitesmoke;
    padding-top: 40px;
}